<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- ------------------Mapbox------------------- -->

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css"
      rel="stylesheet"
    />

    <!-- --------------- googleMaps----------- -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBGGCku0W5qjQ4PAhqMgVL96CKuRzXWY0&callback=initMap"
      async
      defer
    ></script>
    <style>
      /* Always set the map height explicitly to define the size of the div */
      /* * element that contains the map.  */
      #map {
        height: inherit;
        width: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 80%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div style="text-align: center" class="alert alert-success" role="alert">
      Results Verification Page Carlos Lopez
    </div>

    <div class="card" style="width: 25rem; margin: auto">
      <div class="card-body">
        <h5 class="card-title">Confirmation!</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Hey <%= data.firstName %> <%= data.lastName %>
        </h6>
        <p class="card-text">We've got your required information as follows:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item address">
            <b>Address: </b> <%= data.Address %>
          </li>
          <li class="list-group-item zip"><b>Zip: </b><%= data.zip %></li>
          <!-- <li class="list-group-item"><%= data.Password %> </li> -->
          <li class="list-group-item">
            <b>Telephone: </b><%= data.Telephone %>
          </li>
          <li class="list-group-item"><b>Email: </b><%= data.Email %></li>
        </ul>
      </div>
    </div>
    <br />

    <!-- --------------- googleMaps----------- -->

    <!-- AIzaSyDBGGCku0W5qjQ4PAhqMgVL96CKuRzXWY0 -->

    <div id="map" style="border-top: 2px solid lightgray"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13
          // center: { lat: 37.754014, lng: -122.442936 }
        });
        var geocoder = new google.maps.Geocoder();

        geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementsByClassName("address")[0].innerHTML;
        var zip = document.getElementsByClassName("zip")[0].innerHTML;
        address = `${address} + ${zip}`;
        // console.log(address);
        geocoder.geocode({ address: address }, function(results, status) {
          if (status === "OK") {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert(
              "Geocode was not successful for the following reason: " + status
            );
          }
        });
      }
    </script>
  </body>
</html>
