<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "/stylesheets/jjform.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
        
        <div class ="unique"> <!--wrapper div-->
            <div class = "container-full"> <!--container div-->
                <h1>Confirmation</h1>
              <div class = "border"> <!-- border-->
                <div class = "row form"><!--name div-->
                  <div class="col-md-12">
                    Name: <%=data.firstName%> <%=data.lastName%>
                  </div>
                </div>
                <div class = "row form"> <!-- email div-->
                  <div class="col-md-12">
                    Email: <%=data.email%>
                  </div> 
                </div>
                <div class = "row form"><!-- phone div-->
                  <div class="col-md-12">
                    Phone: <%=data.phone%>
                  </div>
                </div>
            </div><!--end border-->
            <div class = "row form" id = "spacing"><!--income div-->
                <div class="col-md-12">
                  Income: <%=data.income%>
                </div>
            </div>  
            <div class = "row form">  <!--education div-->
              <div class="col-md-12 ">
                Education Level: <%=data.education%>
              </div>
            </div> 
            <div class = "row form">   <!--address row div-->  
              <div class="col-md-12 " >
                Address: <%=data.address%>, <%=data.zipCode%>
              </div>
            </div> 
          <div class="text-xs-center"><div id="map"></div></div> <!-- map div-->
        </div><!--end container div-->
        </div><!--end wrapper div-->
        
        

</body>
<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        window.onload = geocodeAddress(geocoder, map);
        //console.log(document.getElementById('address').innerHTML);
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = "<%=data.address%>, <%=data.zipCode%>";
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJyqr8Uk_kgC7xdJT2BirbY8EXUsA7l5w&callback=initMap">
      </script>
  
        
</html>
