<!-- ---------------------------------  -->
<!-- @author Michael Gilbert            -->
<!---------------------------------------->
<!-- This document handles the UI       -->
<!-- for creating and posting incidents.-->
<!---------------------------------------->

<!DOCTYPE html>
<html>

<head>
    <%- include ../partials/head.ejs%>
    <!-- NOT TO BE MOVED, GIVES ERROR ELSEWISE -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"
        type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- NOT TO BE MOVED, GIVES ERROR ELSEWISE -->

    <!-- BACKEND COMMS -->
    <script src="https://unpkg.com/blob-util/dist/blob-util.min.js"></script>
    <!-- BACKEND COMMS -->
</head>

<header>
    <% include ../partials/header.ejs%>
</header>

<body>

    <form id="incidentForm" method="POST" action="/incidents/report" enctype="multipart/form-data">
        <div class="container">
            <div class="card card-center" style="padding: 0px; margin:0px">
                <div class="col-md-12 text-md-center" style="padding: 25px">
                    <h1>Post Incident</h1>
                </div>
                <!-------------------------------------------------------------->
                <!--   Address section    -->
                <label class="post-incident-container">
                    <h3> Address </h3>
                </label>
                <div class="card border-primary post-incident-container">
                    <div class="card-body post-incident-location" id="zipCodeCard">
                        <label class="control-label">
                            <h5>Zipcode </h5>
                        </label>
                        <select class="form-control" id="zipcodeSelect" name="zipcode" onchange="updateLocations()"
                            required>
                            <option value="" style="background-color: lightgray" selected>Select a zipcode</option>
                            <% zipcodes.forEach( (zipcode) => { %>
                            <option value="<%= zipcode.zipId %>"><%= zipcode.zipCode %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="card-body post-incident-location" id="locationCard">
                        <label class="control-label">
                            <h5>Location </h5>
                        </label>
                        <select class="form-control" id="locationSelect" name="location" onchange="updateZipcodes()"
                            required>
                            <option value="" style="background-color: lightgray" selected>Select location</option>
                            <% locations.forEach( (location) => { %>
                            <option value="<%=JSON.stringify(location)%>"><%= location.locationName %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div style="padding-top: 25px;"></div>
                
                <!--------------------------------------------------------------------------->
                <!--     Incident details section     -->
                <label class="post-incident-container">
                    <h3> Add Description </h3>
                </label>
                <div class="card border-primary post-incident-container">
                    <div class="card-body">
                        <label class="control-label">
                            <h5>Incident type</h5>
                        </label>
                        <select class="form-control" id="incidentTypesSelect" name="idType" required>
                            <option disabled value="" selected>Select incident type</option>
                            <% incidentTypes.forEach( (incident) => { %>
                            <option value="<%-incident.typeId%>"><%= incident.typeName%></option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="card-body container-fluid post-incident-section">
                        <label>
                            <h5>Description</h5>
                        </label>
                        <textarea class="form-control" name="description" rows="3"
                            placeholder="Precise descriptions can help speed up process..."></textarea>
                    </div>

                </div>

                <div style="padding-top: 25px;"></div>

                <!-------------------------------------------------------------------------->
                <!--     Media upload section     -->
                <label class="post-incident-container">
                    <h3> Add a Picture </h3>
                </label>
                <div class="card border-primary post-incident-container">
                    <div class="card-body container-fluid post-incident-section">
                        <label>
                            <h5>Upload a Picture</h5>
                        </label>
                        <div>
                            <input type="file" name="pic" accept="image/*" onchange="viewImg(this);" required>
                            <div class="col-lg-4" id="incidentPicture">
                                <br />
                                <img id="inputImage" src="#" alt="..." class="img-thumbnail  m-1"
                                    style="width: max-content; height: inherit" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-incident-container" style="padding-bottom: 35px;">
                    <div class="col-sm-12 text-right">
                        <a class="btn btn-default btn-md center-block" href="/" Style="width: 100px;">Cancel</a>
                        <button class="btn btn-primary btn-md center-block" type="submit"
                            style="width: 100px; color:ivory;">Post</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <!-- ========= Script =========-->
    <script>

        // calls when selected zipcode change
        var updateLocations = () => {
            let locationCard = $('#locationCard');
            let zipcodeId = $('#zipcodeSelect option:selected')[0].value;
            let locations = $('#locationSelect')[0];

            if (zipcodeId == '') {
                // show all locations when
                for (let i = 1; i < locations.length; i++) {
                    let location = locations[i];
                    location.style.display = "block";
                }
                return;
            }

            // hide all locations that does not belong 
            // to the selected zipcode
            for (let i = 1; i < locations.length; i++) {
                let location = locations[i];
                let locationObj = JSON.parse(location.value);

                if (locationObj.ZipcodeZipId != zipcodeId) {
                    location.style.display = "none";
                } else {
                    location.style.display = "block";
                }
            }

            locations.selectedIndex = 0;
        }

        // calls when location changes
        var updateZipcodes = () => {
            let zipCodeCard = $('#zipCodeCard');
            let zipcodes = $('#zipcodeSelect')[0];
            let location = $('#locationSelect option:selected')[0].value;
            let selectedIndex = 0;

            if (location == '') {
                return;
            }

            let locationObj = JSON.parse(location);

            // hide all zipcodes that does not belong 
            // to the selected location
            for (let i = 1; i < zipcodes.length; i++) {
                let zipcode = zipcodes[i];
                if (zipcode.value == locationObj.ZipcodeZipId) {
                    selectedIndex = i;
                }
            }

            zipcodes.selectedIndex = selectedIndex;
        }

        // preview the uploaded image
        var viewImg = (input) => {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#inputImage')
                        .attr('src', e.target.result)
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


        // dont submit post if not signed in
        document.querySelector('#incidentForm').addEventListener("submit", (event) => {

            const user = getCookie('user');
            
            // prevent submit, promt login to submit
            if (!user) {
                event.preventDefault();
                $("#loginPopupButton").click();
            }
        });


    </script>
</body>
<footer>
    <%-include ../../views/partials/footer.ejs%>
</footer>
</html>